<h2 class="mat-headline-medium">Welcome {{ orderService.name() }}</h2>

<!-- <ul *ngIf="toppings$ | async as toppings; else loading">
  <li *ngFor="let topping of toppings">
    {{ topping.name }} ({{ topping.price | currency : "€" }})
  </li>
</ul> -->
<div class="columns">
  @if(toppings$ | async; as toppings){
  <app-toppings
    [toppings]="toppings"
    (selectTopping)="selectTopping($event)"
  ></app-toppings>
  } @else { Loading toppings... }
  
  
  <!-- <app-toppings
    *ngIf="toppings$ | async as toppings; else loading"
    [toppings]="toppings"
    (selectTopping)="selectTopping($event)"
  ></app-toppings> -->

  <!-- <ng-template #loading> Loading toppings... </ng-template> -->

  <app-ingredients></app-ingredients>
</div>
